body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: rgb(91, 88, 88);
    background: rgb(245, 242, 242);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid grey;
    width: 16em;
}
.info h4 {
    margin: 0 0 5px;
    color: #141414;
    font: 16px/18px Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.info #feature_on_hover {
    margin: 6px 0;
}

.description {
    width: 180px;
    font-size: 12px;
    color: #615e5e;
    font-family: "Open Sans", Helvetica, sans-serif;
    padding: 10px 12px;
    background-color: rgba(245, 242, 242);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid grey;
}
.description img {
    width: 80px;
    margin: auto;
    display: block;
}